body{padding: 80px 0 0 0;background: #f4f4f4 url(/assets/bg.png) repeat;}
a{color: #F1962E;}
a, a:hover, a:active, a:focus, object, input{outline: 0;}
a:hover{color: #d78629;}
h6{font-weight: 400;font-style: italic;text-transform: none;color: #888;font-size: 12px;}
.nav-pills .active > a, .nav-pills .active > a:hover{background-color: #F1962E;}
#mainmenu{top: 40px;}
/*.navbar-inner{background: none repeat scroll 0 0 #222;}
.navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle{background-color: rgba(0, 0, 0, 0.5);}    */
#mainmenu li{font-size: 14px;text-transform: uppercase;font-weight: bold;}
#mainmenu ul.dropdown-menu li{font-size: 13px;text-transform: none;font-weight: normal;}
#mainbg-wrapper, #mainbg-wrapper2{overflow: hidden;width: 100%;}
#mainbg{background-attachment: scroll;background-clip: border-box;background: #333333 url(/img/x.gif) no-repeat center bottom;background-origin: padding-box;background-size: cover;height: 460px;}
#search{background: #ffffff;width: 410px;height: 275px;padding: 30px 40px;margin: 0;position: absolute;border: 0;display: none;}
#search h2{text-align: center;margin-bottom: 30px;}
#search .i{margin: 0;font-size: 20px;font-weight: 300;line-height: 25px;padding: 0;height: 25px;background: #fff;}
#search select#prov{border: 0;height: 25px;line-height: 25px;width: 326px;color: #444;}
.cmf-skinned-text{line-height: 25px;font-weight: 300;}
#where input{border: 0;box-shadow: none;}
#search input#query{width: 306px;}
#where #gocamping{margin: 10px 0 0 75px;color: #fff;font-size: 18px;line-height: 24px;font-weight: bold;border-radius: 3px 3px 3px 3px;padding: 5px 46px 5px 20px;background: url(/img/go.png) no-repeat 186px 5px #222;}
#where #gocamping:hover{background-color:#F1962E;}
.inpt{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;border: 1px solid #CCCCCC;border-radius: 3px 3px 3px 3px;position: relative;padding: 4px 4px 4px 75px;margin: 12px 0;}
#where label{position: absolute;left: 10px;top: 7px;font-weight: bold;}
#subhome{height: 110px;margin: 0;}
#subhome .container{height: 110px;background: #d9dad5;padding: 0 15px;box-shadow: 6px 0 14px-4px rgba(90,90,90,0.2) , -6px 0 14px-4px rgba(90,90,90,0.2);}
#subhome a{display: block;width: 200px;height: 70px;margin: 15px 0 0;color: #333;padding: 5px 10px;text-decoration: none;font-size: 21px;line-height: 24px;letter-spacing: -0.2px;}
#subhome a p{font-size: 18px;line-height: 22px;color: #666;font-weight: bold;}
#subhome a strong{font-weight: bold;}
#subhome a:hover{color: #fff;background: #F1962E;}
#subhome a:hover p{color: #fff;}
#sub{height: 40px;width: 100%;position: fixed;background: #d9dad5;left: 0;right: 0;top: 0;z-index: 1030;}
#sub .container{height: 40px;}
.mainstats{text-align: right;color: #777;line-height: 38px;}
img#logo{position: absolute;margin: -26px 0 0 748px;}
#content .container{padding: 20px 15px 70px;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);box-shadow: 6px 0 14px-4px rgba(90,90,90,0.2) , -6px 0 14px-4px rgba(90,90,90,0.2);}
#heading .container{padding: 8px 15px;background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);box-shadow: 6px 0 14px-4px rgba(90,90,90,0.2) , -6px 0 14px-4px rgba(90,90,90,0.2);}
#content div.span3{min-height: 400px;}
div.home h1, div.dashboard h1, div.listing h1, div.city h1{font-size: 21px;line-height: 27px;margin: 0 0 9px;}
div.home h3{font-size: 26px;line-height: 29px;font-weight: 200;margin: 20px 0 8px 0;}div.home h4{font-size: 13px;line-height: 18px;margin: 0 0 9px;font-weight: normal;}
ul#canada{width: 940px;max-width: 940px;}
ul#about{width: 240px;max-width: 240px;}
ul#about a:hover, ul#lggdin a:hover{background-color: #F1962E;color: #fff;}
ul#canada a{display: block;width: 217px;float: left;clear: none;overflow: hidden;padding: 8px 5px 5px 15px;}
ul#canada h2{font-size: 15px;line-height: 20px;color: #222222;}
ul#canada strong{color: #393939;}
ul#canada p{color: #222222;}
ul#canada a.can{height: 377px;width: 209px;background: #f4f4f4;}
ul#canada a:hover{background: #D9DAD5;}ul#canada a.can img{position: absolute;margin-top: 315px;}ul#login{width: 340px;max-width: 340px;}ul#login input.btn-primary{color: #fff;margin-top: 0;}
ul#login li{padding: 0;}
ul#login a{display: inline;padding: 0;margin: 0;text-decoration: underline;}
ul#login li div{padding: 0 20px;margin: 12px 0;}
ul#login input#sbmt{width: 75px;}
form#lm{padding: 12px 20px;background: #f5f5f5;margin: 12px 0;border-top: 1px solid #B4B6AC;border-bottom: 1px solid #B4B6AC;}
input#lme{margin-bottom: 4px;}
form#lm label{width: 75px;}[class^="icon-"]{margin-top: 1px;position: relative;}#breadcrumb{margin-bottom: 14px;}
#map-ca.script #canada-map a{background:#111;background:rgba(0,0,0,.8);color:#eee;font-size:10px;padding:.3em 1.1em;text-align:center;text-shadow:0 1px 0 #000;white-space:nowrap;-moz-border-radius:.6em;-ms-border-radius:.6em;-o-border-radius:.6em;-webkit-border-radius:.6em;border-radius:.6em;}
#map-ca.script #canada-map a:after{bottom:-4px;border:solid;border-color:#111 transparent;border-color:rgba(0,0,0,.8) transparent;border-width:4px 4px 0 4px;content:""; display:block;left:50%;margin-left:-4px;position:absolute;}
#map-ca.script #canada-map .active-region a{background-color:#111}
#map-ca.script #canada-map .active-region a:after{border-color:#111 transparent}
#canada-map a,#map-visible-list a{color:#eee}
#canada-map a:hover,#canada-map a:focus,#map-visible-list a.focus{color:#ffc000}
#canada-map a:active,#map-visible-list a.active-region{color:#cc3}
#loader{background:#111;background:rgba(0,0,0,.8);color:#eee;font-size:1.2em;padding:1em 2em;text-shadow:0 1px 0 #000;-moz-border-radius:.6em;-ms-border-radius:.6em;-o-border-radius:.6em;-webkit-border-radius:.6em;border-radius:.6em;}
#search-link{background:#111;color:#eee;float:right;font-size:1.1em;margin-right:20px;padding:.6em 1.2em;text-decoration:none;-moz-border-radius:.6em;-ms-border-radius:.6em;-o-border-radius:.6em;-webkit-border-radius:.6em;border-radius:.6em;}
#search-link:hover,#search-link:focus{color:#fd0}#map-ca{min-height:445px;margin:0 auto;position:relative;width:430px}
#map-ca.script #canada-map{background-position:0 -920px;display:block;height:445px;left:50%;list-style:none;margin-left:-225px;position:relative;width:430px}
#map-ca.script.multiple-click{overflow:hidden}
#map-ca.script #canada-map li{height:0;text-indent:-9999em;width:0}
#map-ca.script #canada-map a{cursor:pointer;height:auto;margin:0;position:absolute;text-decoration:none;text-indent:0;width:auto;z-index:89}
#map-ca.script #canada-map a:focus{outline:0 none}
#canada-map span,#map-ca .cities{display:block;height:0;left:0;position:absolute;top:-9999px;width:0}
#map-ca .cities{background-position:-440px -920px;height:445px;top:0;width:430px;z-index:88}
#canada-map .bg{padding:10px}
#canada-map .active-region .bg{z-index:87}
#canada-map .map{cursor:pointer;margin:10001px 0 0 2px;z-index:99}
#canada-map .map span{font-size:40px;z-index:89}
#map-ca.no-tooltip #canada-map a{top:-9999em}
#map-ca.no-tooltip #canada-map a:after{display:none}
#loader{left:50%;position:absolute;top:50%;z-index:90}
#ca1:hover .bg,#ca1.focus .bg,#ca1.active-region .bg{height:87px;left:100px;top:285px;width:46px}
#ca1:hover .bg,#ca1.focus .bg{background-position:-415px -28px}
#ca1.active-region .bg{background-position:-415px -458px}
#ca2:hover .bg,#ca2.focus .bg,#ca2.active-region .bg{height:92px;left:13px;top:285px;width:114px}
#ca2:hover .bg,#ca2.focus .bg{background-position:-490px -5px}
#ca2.active-region .bg{background-position:-490px -435px}
#ca3:hover .bg,#ca3.focus .bg,#ca3.active-region .bg{height:87px;left:181px;top:285px;width:59px}
#ca3:hover .bg,#ca3.focus .bg{background-position:-623px -151px}
#ca3.active-region .bg{background-position:-623px -581px}
#ca4:hover .bg,#ca4.focus .bg,#ca4.active-region .bg{height:23px;left:331px;top:378px;width:24px}
#ca4:hover .bg,#ca4.focus .bg{background-position:-624px -378px}
#ca4.active-region .bg{background-position:-624px -808px}
#ca5:hover .bg,#ca5.focus .bg,#ca5.active-region .bg{height:107px;left:336px;top:282px;width:69px}
#ca5:hover .bg,#ca5.focus .bg{background-position:-633px -15px}
#ca5.active-region .bg{background-position:-633px -445px}
#ca6:hover .bg,#ca6.focus .bg,#ca6.active-region .bg{height:236px;left:25px;top:50px;width:157px}
#ca6:hover .bg,#ca6.focus .bg{background-position:-305px -165px}
#ca6.active-region .bg{background-position:-305px -595px}
#ca7:hover .bg,#ca7.focus .bg,#ca7.active-region .bg{height:24px;left:343px;top:385px;width:30px}
#ca7:hover .bg,#ca7.focus .bg{background-position:-623px -288px}
#ca7.active-region .bg{background-position:-623px -718px}
#ca8:hover .bg,#ca8.focus .bg,#ca8.active-region .bg{height:347px;left:95px;top:5px;width:271px}
#ca8:hover .bg,#ca8.focus .bg{background-position:-4px -54px}
#ca8.active-region .bg{background-position:-4px -484px}
#ca9:hover .bg,#ca9.focus .bg,#ca9.active-region .bg{height:107px;left:212px;top:312px;width:95px}
#ca9:hover .bg,#ca9.focus .bg{background-position:-491px -126px}
#ca9.active-region .bg{background-position:-491px -556px}
#ca10:hover .bg,#ca10.focus .bg,#ca10.active-region .bg{height:8px;left:351px;top:385px;width:12px}
#ca10:hover .bg,#ca10.focus .bg{background-position:-623px -341px}
#ca10.active-region .bg{background-position:-623px -771px}
#ca11:hover .bg,#ca11.focus .bg,#ca11.active-region .bg{height:138px;left:282px;top:261px;width:103px}
#ca11:hover .bg,#ca11.focus .bg{background-position:-491px -263px}
#ca11.active-region .bg{background-position:-491px -693px}
#ca12:hover .bg,#ca12.focus .bg,#ca12.active-region .bg{height:87px;left:145px;top:285px;width:40px}
#ca12:hover .bg,#ca12.focus .bg{background-position:-680px -314px}
#ca12.active-region .bg{background-position:-680px -744px}
#ca13:hover .bg,#ca13.focus .bg,#ca13.active-region .bg{height:104px;left:5px;top:181px;width:78px}
#ca13:hover .bg,#ca13.focus .bg{background-position:-306px -30px}
#ca13.active-region .bg{background-position:-306px -460px}
#ca1 .s1{height:.4em;left:3.3em;top:9.2em;width:.5em}#ca1 .s2{height:.1em;left:3.2em;top:9.1em;width:.6em}
#ca1 .s3{height:.1em;left:3.1em;top:9em;width:.7em}
#ca1 .s4{height:.1em;left:3em;top:8.9em;width:.8em}
#ca1 .s5{height:.1em;left:2.9em;top:8.8em;width:.9em}
#ca1 .s6{height:.1em;left:2.8em;top:8.7em;width:1em}
#ca1 .s7{height:1.4em;left:2.7em;top:7.3em;width:1.1em}
#ca2 .s1{height:.1em;left:2.1em;top:9.6em;width:.3em}
#ca2 .s2{height:.4em;left:2em;top:9.2em;width:1.3em}
#ca2 .s3{height:.1em;left:3.1em;top:9.1em;width:.1em}
#ca2 .s4{height:.2em;left:3em;top:9em;width:.1em}
#ca2 .s5{height:.6em;left:1.8em;top:8.9em;width:1.2em}
#ca2 .s6{height:.6em;left:1.7em;top:8.8em;width:1.2em}
#ca2 .s7{height:.1em;left:2.7em;top:8.7em;width:.1em}
#ca2 .s8{height:1.2em;left:1.2em;top:7.8em;width:1.5em}
#ca2 .s9{height:.2em;left:1em;top:7.6em;width:1.7em}
#ca2 .s10{height:.3em;left:.5em;top:7.3em;width:2.2em}
#ca3 .s1{height:.8em;left:4.8em;top:8.8em;width:.7em}
#ca3 .s2{height:.1em;left:4.8em;top:8.7em;width:.8em}
#ca3 .s3{height:.1em;left:4.8em;top:8.6em;width:.9em}
#ca3 .s4{height:.1em;left:4.8em;top:8.5em;width:1em}
#ca3 .s5{height:.3em;left:6.1em;top:7.9em;width:.1em}
#ca3 .s6{height:.4em;left:6em;top:7.9em;width:.1em}
#ca3 .s7{height:.5em;left:5.9em;top:7.9em;width:.1em}
#ca3 .s8{height:.8em;left:4.8em;top:7.7em;width:1.1em}
#ca3 .s9{height:1.1em;left:4.7em;top:7.3em;width:1.1em}
#ca4 .s1{height:.1em;left:8.5em;top:10.1em;width:.4em}
#ca4 .s2{height:.4em;left:8.5em;top:9.7em;width:.5em}
#ca5 .s1{height:.1em;left:9em;top:8.8em;width:.1em}
#ca5 .s2{height:.6em;left:9em;top:7.2em;width:.2em}
#ca5 .s3{height:.2em;left:9em;top:8em;width:.1em}
#ca5 .s4{height:.2em;left:9.5em;top:8.2em;width:.2em}
#ca5 .s5{height:.3em;left:9.4em;top:8.1em;width:.1em}
#ca5 .s6{height:.7em;left:9.3em;top:7.7em;width:.1em}
#ca5 .s7{height:.9em;left:9.1em;top:7.5em;width:.2em}
#ca5 .s8{height:.2em;left:8.6em;top:8.5em;width:.1em}
#ca5 .s9{height:.1em;left:8.7em;top:8.4em;width:.1em}
#ca5 .s10{height:.3em;left:8.7em;top:8.5em;width:.4em}
#ca5 .s11{height:.6em;left:8.8em;top:8.4em;width:.2em}
#ca5 .s12{height:.6em;left:9.1em;top:8.4em;width:.8em}
#ca5 .s13{height:.6em;left:9.8em;top:8.6em;width:.3em}
#ca5 .s14{height:.1em;left:9.7em;top:9.2em;width:.4em}
#ca5 .s15{height:.1em;left:9.7em;top:9.3em;width:.5em}
#ca5 .s16{height:.2em;left:9.6em;top:9.4em;width:.7em}
#ca5 .s17{height:.1em;left:9.9em;top:9.8em;width:.5em}
#ca5 .s18{height:.2em;left:9.5em;top:9.6em;width:.9em}
#ca6 .s1{height:.4em;left:4.3em;top:1.4em;width:.1em}
#ca6 .s2{height:.5em;left:3.8em;top:1.4em;width:.5em}
#ca6 .s3{height:.2em;left:3.2em;top:1.8em;width:1em}
#ca6 .s4{height:.3em;left:2.9em;top:2em;width:1.2em}
#ca6 .s5{height:.7em;left:2.7em;top:2.2em;width:1.3em}
#ca6 .s6{height:.7em;left:.8em;top:4.6em;width:1.8em}
#ca6 .s7{height:.1em;left:.8em;top:5.3em;width:1.9em}
#ca6 .s8{height:.2em;left:.9em;top:5.4em;width:1.9em}
#ca6 .s9{height:1.8em;left:2em;top:2.9em;width:1.9em}
#ca6 .s10{height:.4em;left:1.5em;top:4.4em;width:1.2em}
#ca6 .s11{height:.4em;left:1.2em;top:5.5em;width:1.8em}
#ca6 .s12{height:.6em;left:1.3em;top:5.6em;width:1.9em}
#ca6 .s13{height:.6em;left:1.4em;top:5.7em;width:1.9em}
#ca6 .s14{height:.6em;left:1.5em;top:5.8em;width:1.9em}
#ca6 .s15{height:.8em;left:1.6em;top:5.9em;width:1.9em}
#ca6 .s16{height:.9em;left:1.7em;top:6em;width:2.1em}
#ca6 .s17{height:.9em;left:1.8em;top:6.1em;width:2.1em}
#ca6 .s18{height:1em;left:1.9em;top:6.2em;width:2.5em}
#ca6 .s19{height:1em;left:2.2em;top:6.3em;width:2.5em}
#ca7 .s1{height:.1em;left:9.4em;top:9.8em;width:.1em}
#ca7 .s2{height:.2em;left:9.3em;top:9.9em;width:.3em}
#ca7 .s3{height:.2em;left:9em;top:10em;width:.4em}
#ca7 .s4{height:.2em;left:8.9em;top:10.1em;width:.4em}
#ca7 .s5{height:.3em;left:8.7em;top:10.2em;width:.4em}
#ca8 .s1{height:.8em;left:9.1em;top:5.4em;width:.3em}
#ca8 .s2{height:.4em;left:8.5em;top:4.3em;width:.2em}
#ca8 .s3{height:2.6em;left:8.2em;top:4.2em;width:.3em}
#ca8 .s4{height:.7em;left:8.1em;top:4em;width:.2em}
#ca8 .s5{height:.8em;left:7.9em;top:3.9em;width:.2em}
#ca8 .s6{height:3.2em;left:7.7em;top:3.6em;width:.2em}
#ca8 .s7{height:1.4em;left:7.4em;top:5.3em;width:1.7em}
#ca8 .s8{height:2.1em;left:8.5em;top:5.2em;width:.5em}
#ca8 .s9{height:.1em;left:3.4em;top:5.8em;width:.1em}
#ca8 .s10{height:.1em;left:3.3em;top:5.7em;width:.2em}
#ca8 .s11{height:.1em;left:3.2em;top:5.6em;width:.3em}
#ca8 .s12{height:.1em;left:3em;top:5.5em;width:.5em}
#ca8 .s13{height:.1em;left:2.8em;top:5.4em;width:.7em}
#ca8 .s14{height:.5em;left:2.6em;top:4.8em;width:.1em}
#ca8 .s15{height:.7em;left:2.7em;top:4.7em;width:.8em}
#ca8 .s16{height:1.3em;left:3.5em;top:4.7em;width:.3em}
#ca8 .s17{height:1.4em;left:3.8em;top:4.7em;width:5.1em}
#ca8 .s18{height:1em;left:4em;top:2.3em;width:.1em}
#ca8 .s19{height:2.9em;left:3.9em;top:3.3em;width:3.8em}
#ca8 .s20{height:4.2em;left:4.1em;top:2em;width:.3em}
#ca8 .s21{height:4.9em;left:4.4em;top:1.4em;width:.3em}
#ca8 .s22{height:.5em;left:5.2em;top:.7em;width:.6em}
#ca8 .s23{height:.8em;left:6.4em;top:.3em;width:1.3em}
#ca8 .s24{height:6.6em;left:5.8em;top:.4em;width:1.6em}
#ca8 .s25{height:6.1em;left:4.7em;top:1.2em;width:1.1em}
#ca8 .s26{height:.2em;left:7.2em;top:7.3em;width:.1em}
#ca8 .s27{height:.5em;left:7.2em;top:7.8em;width:.2em}
#ca8 .s28{height:.1em;left:7em;top:8.7em;width:.1em}
#ca8 .s29{height:.2em;left:7.1em;top:8.7em;width:.2em}
#ca8 .s30{height:.1em;left:7.2em;top:8.9em;width:.2em}
#ca9 .s1{height:.2em;left:7.8em;top:10.1em;width:.1em}
#ca9 .s2{height:.3em;left:7.6em;top:10.1em;width:.2em}
#ca9 .s3{height:.4em;left:7.4em;top:10em;width:.2em}
#ca9 .s4{height:.1em;left:6.8em;top:10.6em;width:.3em}
#ca9 .s5{height:.7em;left:6.8em;top:9.9em;width:.6em}
#ca9 .s6{height:.2em;left:6.6em;top:9.8em;width:.7em}
#ca9 .s7{height:.8em;left:6.5em;top:9em;width:.8em}
#ca9 .s8{height:.2em;left:6.2em;top:8em;width:.3em}
#ca9 .s9{height:.1em;left:6.1em;top:8.2em;width:.6em}
#ca9 .s10{height:.1em;left:6em;top:8.3em;width:1em}
#ca9 .s11{height:.1em;left:5.9em;top:8.4em;width:1.1em}
#ca9 .s12{height:.1em;left:5.8em;top:8.5em;width:1.2em}
#ca9 .s13{height:.1em;left:5.7em;top:8.6em;width:1.3em}
#ca9 .s14{height:.1em;left:5.6em;top:8.7em;width:1.4em}
#ca9 .s15{height:.8em;left:5.8em;top:8.9em;width:1.4em}
#ca9 .s16{height:.8em;left:5.5em;top:8.8em;width:1.6em}
#ca10 .s1{height:.2em;left:9em;top:9.8em;width:.3em}
#ca11 .s1{height:.1em;left:8.1em;top:10.1em;width:.3em}
#ca11 .s2{height:.2em;left:7.3em;top:9.7em;width:.1em}
#ca11 .s3{height:.1em;left:7.3em;top:9.6em;width:1.8em}
#ca11 .s4{height:.2em;left:7.3em;top:9.4em;width:2.1em}
#ca11 .s5{height:.2em;left:7.3em;top:9.2em;width:2.3em}
#ca11 .s6{height:.2em;left:7.3em;top:9em;width:2.5em}
#ca11 .s7{height:.1em;left:9em;top:8.9em;width:.1em}
#ca11 .s8{height:.9em;left:8.7em;top:8.8em;width:.1em}
#ca11 .s9{height:1em;left:8.5em;top:8.7em;width:.2em}
#ca11 .s10{height:.4em;left:7.3em;top:8.5em;width:1.3em}
#ca11 .s11{height:.1em;left:7.2em;top:8.4em;width:1.5em}
#ca11 .s12{height:.8em;left:8.5em;top:7.6em;width:.3em}
#ca11 .s13{height:.3em;left:9em;top:8.2em;width:.1em}
#ca11 .s14{height:1.1em;left:8.8em;top:7.3em;width:.2em}
#ca11 .s15{height:.1em;left:8.1em;top:6.9em;width:.1em}
#ca11 .s16{height:.2em;left:7.7em;top:6.8em;width:.2em}
#ca11 .s17{height:3.1em;left:7.6em;top:7em;width:.9em}
#ca11 .s18{height:3.6em;left:7.9em;top:6.7em;width:.2em}
#ca11 .s19{height:3.3em;left:7.4em;top:6.7em;width:.3em}
#ca11 .s20{height:.2em;left:9em;top:7.8em;width:.1em}
#ca12 .s1{height:1.2em;left:4.7em;top:8.4em;width:.1em}
#ca12 .s2{height:2.3em;left:3.8em;top:7.3em;width:.9em}
#ca13 .s1{height:.1em;left:1.9em;top:7.2em;width:.3em}
#ca13 .s2{height:.3em;left:1.8em;top:7em;width:.1em}
#ca13 .s3{height:.4em;left:1.7em;top:6.9em;width:.1em}
#ca13 .s4{height:.6em;left:1.6em;top:6.7em;width:.1em}
#ca13 .s5{height:.9em;left:1.5em;top:6.4em;width:.1em}
#ca13 .s6{height:1em;left:1.4em;top:6.3em;width:.1em}
#ca13 .s7{height:1.1em;left:1.3em;top:6.2em;width:.1em}
#ca13 .s8{height:1.4em;left:1.2em;top:5.9em;width:.1em}
#ca13 .s9{height:1.7em;left:.9em;top:5.6em;width:.3em}
#ca13 .s10{height:1.9em;left:.8em;top:5.4em;width:.1em}
#ca13 .s11{height:2.6em;left:.3em;top:4.7em;width:.5em}
#ca1 a{left:132px;top:337px}#ca2 a{left:80px;top:337px}
#ca3 a{left:217px;top:335px}#ca4 a{left:353px;top:398px}
#ca5 a{left:375px;top:345px}#ca6 a{left:113px;top:235px}
#ca7 a{left:368px;top:407px}#ca8 a{left:215px;top:235px}
#ca9 a{left:258px;top:363px}#ca10 a{left:368px;top:400px}
#ca11 a{left:324px;top:340px}#ca12 a{left:174px;top:337px}
#ca13 a{left:44px;top:255px}
#map-visible-list{position: absolute;margin: -390px 0 0 440px;}
#map-visible-list li{margin: 5px 0;}
#map-visible-list a{color: #333;font-weight: 300;font-size: 15px;}
.clear{clear: both;margin: 0;padding: 0;height: 1px;overflow: hidden;}
.clearm{margin-bottom: 20px;}
h2.provname{font-weight: 200;font-size: 38px;line-height: 44px;margin: 8px 0;letter-spacing: -0.5px;}
.hero-unit{background-color: #eee;margin-bottom: 20px;height: 160px;padding: 25px 20px 25px 40px;}
.hero-unit h2{font-weight: 200;font-size: 50px;width: 650px;line-height: 50px;letter-spacing: -1px;text-shadow: 0 1px 0 #fff;}
.hero-unit h1{font-weight: 200;letter-spacing: -0.5px;text-shadow: 0 1px 0 #fff;margin: 0;line-height: 30px;font-size: 21px;}
.card-stats{float: right;position: relative;text-align: right;}
.card-stats li{text-transform: uppercase;color: #666;font-size: 12px;line-height: 23px;}
.unknown li{color: #bbb;}
.hero-unit table{position: absolute;width: 650px;}
.hero-unit .card-stats table{position: relative;width: auto;}
.hero-unit table td{margin: 0;padding: 0;height: 160px;}
.card-stats li strong{font-size: 20px;font-weight: 400;text-transform: none;color: #444;text-shadow: 0 1px 0 #fff;}
.unknown li strong{color: #aaa;}
.well{box-shadow: none;padding: 0;border-color: #B4B6AC;border-radius: 6px;border-width: 1px;}
div.well h3, div.listing div.well h3{font-size: 18px;line-height: 24px;margin: 0 0 6px;font-weight: 300;}
div.listing div.well h3.light{font-weight: 300;}
.rightcol{padding: 12px 10px 12px 18px;}
.leftcol{padding: 18px 12px;}
.sidenav{padding: 0;}
.sidenav li a{padding: 6px 1px 6px 6px;font-size: 13px;line-height: 18px;position: relative;border-top: 1px solid #ddd;background-color: #fafafa;}
.sidenav li a:hover{color: #333;background-color: #fafafa;}
.sidenav li:first-child a{border-top: 0;}
.top-b li:first-child a{border-top: 1px solid #ddd;}
.bottom-b li:last-child a{border-bottom: 1px solid #ddd;}
.summary{margin-bottom: 30px;position: relative;background: transparent url(/img/gradient.png) center bottom no-repeat;}
span.read-more a{background: #fff;border-top: 1px solid #e8e8e8;border-bottom: 1px solid #F4F4F4;padding: 4px 0;text-align: center;display: block;position: absolute;margin: -6px 0 0 0;width: 100%;text-transform: uppercase;font-size: 11px;left: 0;}
div.prices{padding: 17px 0 8px;border-top: 2px dashed #e8e8e8;border-bottom: 2px dashed #e8e8e8;margin: 12px 0 20px;}
p.q {font-style: italic;font-weight: bold;margin: 12px 0 3px;}
form, .form-actions {margin-bottom: 0;padding-bottom: 0;}.alert{margin-bottom: 9px;}
div.home h4.alert-heading{font-weight: bold;font-size: 16px;}
#email, #e-mail, #emailadress{display: none;}
.form-horizontal .controls {margin-left: 126px;}
.form-horizontal .form-actions {padding-left: 126px;padding-bottom: 17px;}
.form-horizontal .control-group > label {width: 108px;}
input:focus, textarea:focus {border-color: rgba(215, 134, 41, 0.8);box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 150, 46, 0.6);}
.btn-primary {background-color: #F1962E;background-image: -moz-linear-gradient(center top , #F9A039, #B7680E);}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {background-color: #B7680E;}
.form-horizontal .control-group {margin-bottom: 6px;}
.form-horizontal .extra-space-bottom {margin-bottom: 18px;}
footer{background: #282828;padding: 20px 0 10px;height: 395px;color: #eee;}
footer.lfooter{padding: 8px 0;height: 24px;}
footer .blck{background: #222;margin: 0 0 10px 0;}
footer h2{color: #1d1d1d;font-size: 55px;font-weight: normal;line-height: 75px;margin: 0 0 8px 0;text-shadow: rgba(10,10,10,0.25) -1px 0, rgba(10,10,10,0.25) 0 -1px, rgba(135,135,135,0.25) 0 1px, rgba(10,10,10,0.1) -1px -1px;}
footer h3{color: #eee;font-size: 16px;}
footer a{color: #eee;}
#social{float: right;margin: 20px 0 0;}
#social a{margin: 0 8px;}
span.menuname{text-transform: none;color: #F1962E;}
#lst-nav{padding: 0;height: 24px;background: #f8f8f8;border: 1px solid #b4b5ac;margin: 20px 0 12px;-moz-border-radius: 4px; border-radius: 4px; -webkit-border-radius: 4px;}
.listNav { margin:0 0 10px; }
.ln-letters { overflow:hidden; }
.ln-letters a { font-size: 13px; font-weight: 600; line-height: 24px; text-align: center; display:block; float:left; padding:0; width: 24px; border-right:1px solid #B4B5AC; text-decoration:none; }
.ln-letters a.ln-last { border-right: none; }
.ln-letters a._ { width: 44px; }
.ln-letters a:hover,.ln-letters a.ln-selected { background-color:#eaeaea; }
.ln-letters a.ln-disabled { color:#ccc; }
.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; }
ul#lst, .card-stats ul{list-style-image: none;list-style-position: outside;list-style-type: none;margin: 0;padding: 0;}
ul#lst h3 {font-size: 14px;line-height: 28px;margin: 0 0 2px;padding: 0;width: 278px;font-weight: 300;}
ul#lst h3 a {background: none repeat scroll 0 0 #D8D9DC;color: #222222;display: block;padding: 0 0 0 10px;text-decoration: none;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);white-space: nowrap;}
ul#lst h3 a:hover{ text-shadow: none; background: #f7931e; color: #ffffff; text-decoration: none; }
ul#lst li h5 {background: none repeat scroll 0 0 #F4F4F4;color: #C1C2C4;display: inline;font: 12px;line-height: 28px;height: 28px;margin: -30px 0 0 278px;padding: 0 0 0 10px;position: absolute;width: 410px;}
ul#lst li h5.hover{color: #333333;background: #e8e8e8;}
.city ul#lst h3{width: 400px;}
.city ul#lst h5{width: 274px;margin-left: 400px;}
ul#lst li.active h3{font-weight: 500;margin: 4px 0;
}ul#lst li.active h3 span{float: right;text-shadow: none;color: #fff;font-size: 10px;text-transform: uppercase;background-color: #bbbbbb;border-radius: 8px 8px 8px 8px;font-weight: bold;padding: 1px 7px 2px;white-space: nowrap;margin: -2px 0 0;}
ul#lst li.active h3 a{height: 72px;line-height: 15px;padding: 7px 10px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
ul#lst li.active h3 div{font-weight: 300;white-space: normal;font-size: 13px;line-height: 16px;margin-top: 3px;height: 45px;padding: 5px 0;font-style: italic;}
ul#lst li.active h5{border-top: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2;height: 86px;margin-top: -92px;}
ul#lst h3 a:hover span{background-color: #E88208;}
ul#lst li.active h3 a:hover{border-top: 1px solid #E88208;border-bottom: 1px solid #E88208;}
ul#lst h5 span{display: inline-block;width: 88px;line-height: 15px;font-size: 11px;text-align: center;margin-top: 2px;}
ul#lst h5 span span{font-size: 21px;}
#listinglist{margin: 10px 0 0;}
#listinglist h3{font-size: 16px;line-height: 22px;margin: 0;}
#listinglist h3 a{color: #333;}
#listinglist strong a{font-weight: 400;text-decoration: underline;}
div.rctop{padding-bottom: 4px;}
.geo{font-size: 11px;}
div.weather{background: #ffffff;margin: 6px 0;padding: 6px 0;border-bottom: 1px solid #F4F4F4;border-top: 1px solid #F4F4F4;}
div.weather ul{list-style-image: none;list-style-position: outside;list-style-type: none;padding: 0;}
div.weather ul li{display: block;float: left;}
div.weather ul li p{margin: 0;font-size: 11px;line-height: 15px;}
div.weather ul li.current{width: 260px;border-right: 3px solid #ececec;}
div.weather ul li.current div{float: left;}
div.weather div.currentimg{padding: 0 18px 0 0;}
div.weather div.currentimg img{margin-top: 8px;}
div.weather ul li.forecast{padding: 0;width: 75px;}
div.weather ul li.ff{padding-left: 16px;}
div.weather ul li.forecast h4{text-align: center;font-size: 11px;line-height: 16px;color: #202020;font-weight: 500;margin: 0;padding: 0;}
div.weather h6 img{margin: 3px 0;}
div.weather ul li.forecast h6{text-align: center;font-weight: normal;color: #333;}
div.home h3.temp{margin: 0;padding: 2px 0;}
h3.temp span{color: #909090;}
h3.temp a.sel{color: #202020;text-decoration: none;cursor: default;}
div.t, div.d {padding: 0 8px;}
h3.listtitle, div.home h3.listtitle, div.listing h3.listtitle, div#listing h5{font-size: 15px;line-height: 20px;font-weight: 300;background: #eee url(/img/min2.png) no-repeat 672px center;-moz-border-radius: 3px;border-radius: 3px;-webkit-border-radius: 3px;padding: 6px 8px 6px 10px;margin: 30px 0 10px;cursor:pointer;clear: both;}
div#listing h5.up, div.home h3.up{background: #eee url(/img/plus2.png) no-repeat 672px center;}
div#listing h5.hover, div.home h3.hover{background-color: #e6e6e6;}
div#listing h5.active{background-color: #F7931E;color: #111111;}
div.listing h3{font-size: 18px;line-height: 21px;font-weight: 200;margin: 12px 0 8px 0;}
div.listing h4{font-size: 13px;line-height: 18px;font-weight: normal;}
div.listing h4.alert-heading{font-weight: bold;}
#subnav{position: absolute;top: 0;width: 218px;}
#subnav.fixed {position: fixed;top: 0;margin-top: 32px;}
#dbnav{position: fixed;width: 218px;}
div#nl{font-style: italic;margin: 15px 0;padding: 10px 0;border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8;}
.prevlist{float: left;}
.nextlist{float: right;}
.prevlist a, .nextlist a{color: #333;}
.listinginfo{margin: 0;background: #B4B6AC;padding: 4px 10px;color: #fff;border-radius: 12px 12px 0 0;font-size: 15px;line-height: 20px;font-weight: bold;text-transform: uppercase;}
div.listingname{padding: 6px 18px 0;}
dl.table-display{margin: 12px 0;padding: 0;}
.table-display dt{float: left;width: 196px;margin: 0;padding: 5px;border-top: 1px solid #e4e4e4;background: #f6f6f6;}
.table-display dd{float: left;width: 112px;margin: 0 24px 0 0;padding: 5px 2px 5px 8px;border-top: 1px solid #e4e4e4;background: #ffffff;}
.table-display dd.rght{margin: 0;}
.table-display dt.hover{background: #e0e0e0;}
.table-display dd.hover{background: #eeeeee;}
#sites dl{width: 454px;}
#sites dt{width: 140px;}
#sites dd{width: 42px;}
dt.zero, dd.zero{color: #aaa;}
#sites .span-sitestotal{margin: 12px 0 12px 20px;width: 200px;padding: 0;text-align: center;background: #eee;}
.span-sitestotal strong{font-size: 16px;line-height: 35px;font-weight: 400;}
.span-sitestotal p{margin: 0;font-size: 50px;line-height: 66px;text-shadow: 0 1px 0 #fff;background: #ddd;}
#sites .row{margin-bottom: 20px;}
span.actfilter{float: right;font-size: 11px;padding-right: 30px;height: 26px;margin-top: -6px;z-index: 20;}
span.actfilter a.sel{color: #202020;text-decoration: none;}
span.actfilter a{width: auto;line-height: 33px;}
.camgroundlogo {background: none repeat scroll 0 0 transparent;float: right;text-align: right;width: 175px;margin-bottom: 20px;}
.tel .type, .lbl {display: inline-block;width: 70px;}
div.lines, div.internet{width: 500px;}
div.adr, h3.fn{width: 500px;margin-bottom: 9px;}
#viewport{width: 690px; overflow:hidden; position:relative;margin: 0 0 0 5px;height: 96px;}
#viewport ul{position: relative; padding: 0; margin: 0;}
#viewport li{width: 114px; height: 86px;float: left; list-style: none; margin-right: 1px;}
#viewport li h5{margin: 0;padding: 10px 0 0;border: 0;height: 86px;width: 114px;background: transparent;-moz-border-radius: 0;border-radius: 0;-webkit-border-radius: 0;}
.hiddennav, .hidden{display: none;}
a#previous, a#next{position: absolute;margin-top: -86px;z-index: 4;line-height: 86px;color: #333;font-size: 11px;font-weight: bold;text-align: center;}
a#previous:hover, a#next:hover{text-decoration: none;background: #ddd;}
a#previous{margin-left: -10px;width: 14px;height: 86px;background: #eee;}
a#next{margin-left: 696px;width: 14px;height: 86px;background: #eee;}
#viewphoto{display: none;background: #ffffff;overflow: hidden;width: 690px;margin: 4px 0 0 5px;height: 400px;border-top: 8px solid #B4B6AC;border-bottom: 8px solid #B4B6AC;}
#viewphoto div{position: absolute;overflow: hidden;width: 690px;height: 400px;display: block;z-index: 10;text-decoration: none;border: 0;margin: 0;padding: 0;}
#viewphoto img{height: 400px;}
#viewphoto div.photodetail{position: absolute;overflow: hidden;width: 670px;height: 70px;top: 320px;background: #101010;filter:alpha(opacity=0);opacity:0;padding: 5px 10px;z-index: 5;left: 0;}
#viewphoto div.photodetail p{color: #ffffff !important;text-decoration: none !important;margin: 3px 0;}
#viewphoto div.photodetail p b{font-size: 14px;}
#viewphoto div img{margin: 0;padding: 0;border: 0;z-index: 2;}
div.loading{background: #ffffff url(/img/loader.gif) no-repeat center center;}
#viewport li h5.phsel{background: #ffffff url(/img/phsel.png) no-repeat center top;}
h4.shortdesc{margin-bottom: 10px;}
div#gmap, div#gmapedit{width: 684px;height: 380px;background: #e8e8e8;padding: 0;margin: 15px 0;}
div#gmap img, div#gmapedit img{max-width: none;}
div#gmapedit{width: 528px;margin: 5px 0 15px;border: 1px solid #555;}
div.gmapinfo{width: 280px;overflow: hidden;height: auto;font-size: 12px;line-height: 14px;}
div.gmapinfo p{margin: 0;}
div.gmp_h{font-size: 14px;line-height: 18px;font-weight: 600;}
div.gmp_h2{padding: 2px 3px;background: #eeeeee;}
div.gmp_left{width: 110px;height: 100px;float: left;}
div.gmap_ftr a{font-size: 11px;line-height: 14px;}
div.gmp_right{width: 170px;height: 100px;float: right;}
section {}#listing section.active{padding-top: 71px;}td.l{width: 130px;}
td.dp{width: 10px;}
div.listing_info {display: none;padding: 5px 0 0;}
div.listing_info table{width: 100%;}
.listinglstnav{float: right;}
.listinglstnav a{background-color: #e4e4e4;color: #333;font-weight: bold;}
.listinglstnav> li > a:hover{background-color: #ddd;}
div.listingwell{background: #fff;}
div.listingwell div.leftcol{padding: 12px;}
div.listingwell h3{font-weight: bold;margin: 6px 0;}
.listingwell h3 a{color: #333;}
tr.vacancytr{background: #f2f2f2;border-top: 1px dotted #d0d0d0;border-bottom: 1px dotted #d0d0d0;}
tr.vacancytr td{padding: 8px 0;}
span.vacancy{font-weight: 500;}
a.listing_mi{width:8px;text-align: center;}
div.dashboard h4.sub{margin: 10px 0 8px;font-size: 15px;line-height: 21px;font-weight: 600;border-bottom: 1px solid #ccc;}
div#buylisting h6.steps{font-size: 12px;color: #555;padding-bottom: 3px;border-bottom: 1px dotted #dddddd;margin-bottom: 12px;}
div#buylisting h6.steps span{color: #999999;}
p.note{margin: 10px 0 10px 126px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding: 10px 10px 10px 16px;background: #fff;}
#logoshow{background: #ffffff;padding:10px;width: 350px;border:1px solid #cccccc;margin: 0 0 6px 0;}
#uploadify, #uploadifygal{display: inline-block;}
dl.editsites, dl.editamenities{width: 530px;}
dl.editactivities{width: 410px;}
dl.editrates{width: 460px;}
.table-display dt{float: left;width: 196px;margin: 0;padding: 5px;border-top: 1px solid #e4e4e4;background: #f6f6f6;}
dl.editsites dt{width: 160px;height: 32px;line-height: 32px;}
dl.editsites dd{width: 62px;}
dl.editrates dt{width: 200px;height: 28px;line-height: 32px;}
dl.editrates dd{width: 230px;margin: 0;}
dl.editactivities dt{height: 28px;line-height: 28px;width: 200px;}
dl.editactivities dd{width: 150px;margin: 0;}
dl.editamenities dt{width: 162px;}
dl.editamenities dt label{line-height: 23px;margin: 0;}
dl.editamenities dd{width: 24px;height: 23px;padding: 4px 0 6px 10px;}
span.nl{background: transparent url(/img/nl.png) no-repeat left center;padding: 0 0 0 24px;}
span.de{background: transparent url(/img/de.png) no-repeat left center;padding: 0 0 0 24px;}
span.fr{background: transparent url(/img/fr.png) no-repeat left center;padding: 0 0 0 24px;}
span.es{background: transparent url(/img/es.png) no-repeat left center;padding: 0 0 0 24px;}
span.ratesitetype{display: inline-block;width: 150px;}
#logo_uploader{width: 530px;}
div.editgalleryphotos{background: #ffffff;padding:10px;width: 510px;border:1px solid #cccccc;margin: 0 0 6px 0;}
ul#gallery-list{list-style-image: none;list-style-position: outside;list-style-type: none;margin: 0;padding: 0;}
ul#gallery-list li{display: block;height: 122px;padding: 0;margin: 4px 0;border: 3px solid #f4f4f4;background: #f4f4f4;}
ul#gallery-list li.ui-state-highlight{border: 3px dashed #e6e6e6;background: #ffffff;height: 86px;}
ul#gallery-list table td{font-size: 11px;}
ul#gallery-list table.outertable{width: 504px;height: 122px;table-layout: fixed;}
ul#gallery-list table.outertable td.photo{width: 120px;}
ul#gallery-list table.innertable{width: 374px;}
.handle{cursor: move;}
a.delpht{position: absolute;width: 16px;height: 16px;display: inline-block;margin: 5px 0 0 481px;}
textarea.phtodesc{width: 326px;height: 76px;font-size: 12px;}
.limiterBox, #shortdesclimit{background: #FCF8E3;font-size: 11px;line-height: 14px;padding: 2px 4px;margin-top: 2px;border: 1px solid #FBEED5;}
#prtbl{margin-top: 6px;}
span.old{text-decoration: line-through;}
.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:8px 0 0 6px; }
.autocomplete { border:1px solid #eee; border-top:none; cursor:default; text-align:left; max-height:350px; margin:-6px 6px 6px -6px; background:#FFF; box-shadow:0 3px 6px #AAA; -moz-box-shadow:0 3px 6px #AAA;-webkit-box-shadow:0 3px 6px #AAA; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;overflow:auto;}
.autocomplete .selected { background:#eee; }
.autocomplete > div { padding:10px; white-space:nowrap; border: none; font-size: 20px; font-weight: 300; line-height: 25px; }
.autocomplete strong { font-weight:normal; color:#F1962E; }
.autocomplete > div + div { border-top:1px solid #EEE; }.lt-ie9 #content .container{background: #fafafa;}
.lt-ie9 .btn-primary{border-color: #F1962E;}
.lt-ie8 span.read-more a{margin-top: 3px;}
.lt-ie9 #ftr h2{ color: #1d1d1d;}
